#root{
  display:flex;align-items:center;
  justify-content: center;
}
hr{
  height:5px;
  background:linear-gradient(to right,#00FF99, #0d9656);
  border:none;
  width:calc(100% - 2px);
  
}

@media only screen and (max-width:300px){
  *{
    display: none;
  }
}