body{
    margin:0;
    padding:0;
    display:flex;
    align-items:flex-start;
    justify-content:center;

}
#root{
    margin:0;
    padding:0;
    width:100%;
    display:flex;
    align-items:flex-start;
    justify-content:center;
    flex-direction: column;
    
}
header {
    z-index:999;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 1);
    position: sticky;
    top: 20px; /* Sticky powinno działać poprawnie */
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 900px;
    background: rgb(12, 12, 12);
    border-radius: 20px;
    margin: 0 auto; /* Centrowanie */
}

#logo,#options{
    height:75px;
    color:white !important;

}
#logo{
    display:flex;
    align-items:center;
    justify-content:center;
    width:20%;
    height:75px;
    font-size:30px;
    letter-spacing: 2px;
    font-weight:600 !important;
}
#socials{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    width:40%;
    height:75px;
}
#options{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width:40%;
}
#overflow{
    background:rgba(0, 0, 0, 0.459);
    height:5000px;
    width:100%;
}
a{
    text-align: center;
    padding:15px;
    font-size:18px;
    display:flex;
    align-items: center;
    justify-content: center;
    height:100%;
    font-weight:900;
    letter-spacing: 1px;
    text-decoration: none;
    color:rgb(207, 207, 207)
}
img{
    padding:10px;
}
#link{
    height:35%;
    max-width:auto;
}
#gmail{
    height:44%;
    max-width: auto;
}
.active{
    text-decoration: underline;
    text-decoration-color: #00FF99;
    text-underline-offset: 5px;
    text-decoration-thickness: 2px;
}
#github{
    height:35%;
    max-width:auto;
}
@media only screen and (max-width: 500px){
    header{
        width:95vw;
        padding:0;
    }
}
@media only screen and (max-width: 1000px){
    header{
        display:flex;
        flex-wrap: wrap;
        height:150px;
        width:90vw;
    }
    #logo{
        letter-spacing: 3px;
        width:50%;
        font-size:30px;
    }
    #socials{
        display:flex;
        justify-content: center;
        width:50%;
    }
    #options{
        display:flex;
        width:100%
    }
}